<!DOCTYPE html>
<html>

<head>
    <title>HTML Login Form</title>
</head>

<style>
    /*style.css*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #000000;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #ec5945;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #0552f7;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<body>
    <div class="main">
        <h3 onclick="handleLogin()" id="updateSuccessfully" style="font-size: 20px; cursor: pointer;"></h3>
        <h1>Instamart</h1>
        <h3>Password Reset Form </h3>
        <!-- <p><%= token %></p> -->

        <div>
            <label for="">
                New Password:
            </label>
            <input type="password"  name="first" 
                placeholder="Enter your new Password" required>
                <p id="new-pass-error" style="color: red; font-size: 12px;"></p>

            <label for="">
                Confirm New Password:
            </label>
            <input type="text"  name="password" 
                placeholder="Confirm your new Password" required>
                <p id="confirm-pass-error" style="color: red; font-size: 12px;"></p>

            <div class="wrap">
                <button onclick="handleClick()" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</body>

<script>

    let newPass = document.getElementsByName("first")[0];
    let confirmNewPass = document.getElementsByName("password")[0];

    let token = "<%= token %>"
    // console.log(token)

    async function handleClick() {

        document.getElementById("new-pass-error").textContent = "";
        document.getElementById("confirm-pass-error").textContent = "";
        document.getElementById("updateSuccessfully").textContent = "";
    //   console.log(newPass.value);
    //   console.log(confirmNewPass.value); 
    if (newPass.value.trim() === ""){
        document.getElementById("new-pass-error").textContent = "Please enter your new password.";
        return;
    }

    else {
        if (newPass.value !== confirmNewPass.value) {

            document.getElementById("confirm-pass-error").textContent = "Passwords do not match. Please try again.";
        return;
           // console.log("Password match")\
        }
        else{
              let res = await fetch(`http://localhost:4000/users/changePassword/${token}`,{
                 method: "POST",
                 headers: {
                   "Content-type": "application/json"
                       },
                 body: JSON.stringify({newPassword: newPass.value})
              })

              let data = await res.json();
              console.log(data);

            if (data.success) {
             document.getElementById("updateSuccessfully").textContent = data.msg;
             document.getElementById("updateSuccessfully").style.color = "green"
             newPass.value = "";
             confirmNewPass.value = "";
            } 
            else {
                document.getElementById("updateSuccessfully").textContent = data.msg;
                 document.getElementById("updateSuccessfully").style.color = "red"
                newPass.value = "";
                confirmNewPass.value = "";
            }
        }
    }
  }

  function handleLogin() {
    window.open("http://localhost:5173/signin", "_blank");
  }

</script>

</html>